@model MyProfile.Entity.ModelView.TimeLineViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Courses v2 - Pages";
    var UserInfo = MyProfile.Identity.UserInfo.Current;
}

@section Styles {
    <link href="~/vendor/libs/d3js/cal-heatmap/css/cal-heatmap.css" rel="stylesheet" />
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" />

    <style>
    </style>
}

@section Scripts {
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/d3js/js/d3.v3.min.js"></script>
    <script src="~/vendor/libs/d3js/cal-heatmap/js/cal-heatmap.min.js"></script>
    <script src="~/vendor/libs/jquery-serialize-object/jquery.serialize-object.min.js"></script>

    <script src="~/js/timeline.js"></script>
}

<h4 class="d-flex flex-wrap w-100 font-weight-bold pt-2 mb-4">
    <span class="lnr lnr-calendar-full display-4 text-primary mr-2"></span>
    <span class="px-0 pb-2 pt-2">
        Календарь
    </span>
    @*<span class="px-0 pb-2 ml-4">
            <a class="btn btn-outline-primary rounded-pill" href="javascript:void(0)" v-on:click="edit()">&nbsp; Добавить цель</a>
        </span>*@
</h4>

<div class="card mb-4">
    <h6 class="card-header">Фильтр</h6>
    <div class="card-body">
        <form id="filter" class="margin-top">
            @Html.Hidden("Count", 0)
            <div class="row mb-5">
                <div class="col-8">
                    <div class="input-group">
                        <select id="Sections" name="Sections[]" multiple class="form-control" style="width: 100%"
                                data-items='@Html.Raw(JsonConvert.SerializeObject(Model.Sections))'>
                            @foreach (var _section in Model.Sections)
                            {
                                <option selected value="@_section.ID">@_section.Name</option>
                            }
                        </select>
                        <span class="text-muted m-b block">Категории</span>
                        <span class="text-right">
                            <span onclick="filter.selectOnlyType(2)" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Выбрать только расходы</span>|
                            <span onclick="filter.selectOnlyType(1)" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать только доходы</span>|
                            <span onclick="filter.selectAll()" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать все категории</span>|
                            <span onclick="filter.unselectAll()" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Очистить форму</span>
                        </span>
                    </div>
                </div>
                <div class="col-4">
                    @if (UserInfo.IsAllowCollectiveBudget)
                    {
                        <label class="switcher switcher-info">
                            <input type="checkbox" class="switcher-input" name="isConsiderCollection" id="isConsiderCollection">
                            <span class="switcher-indicator">
                                <span class="switcher-yes">
                                    <span class="ion ion-md-checkmark"></span>
                                </span>
                                <span class="switcher-no">
                                    <span class="ion ion-md-close"></span>
                                </span>
                            </span>
                            <span class="switcher-label">Показывать записи все участников группы </span>
                        </label>
                        <hr />
                    }
                    <div class="switchers-stacked">
                        <label class="switcher">
                            <input type="radio" class="switcher-input" name="isAmount" id="isAmount" checked>
                            <span class="switcher-indicator">
                                <span class="switcher-yes">
                                    <span class="ion ion-md-checkmark"></span>
                                </span>
                                <span class="switcher-no">
                                    <span class="ion ion-md-close"></span>
                                </span>
                            </span>
                            <span class="switcher-label">Показывает по сумме трат в день</span>
                        </label>
                        <label class="switcher">
                            <input type="radio" class="switcher-input" name="isAmount" id="isCount">
                            <span class="switcher-indicator">
                                <span class="switcher-yes">
                                    <span class="ion ion-md-checkmark"></span>
                                </span>
                                <span class="switcher-no">
                                    <span class="ion ion-md-close"></span>
                                </span>
                            </span>
                            <span class="switcher-label">Показывает по количеству внесенных записей </span>
                        </label>
                    </div>
                </div>
            </div>
            @*<div>
                    <button type="button" class="btn btn-primary pull-right" onclick="timeline.search_click()">
                        @LocalizationBL.GetText(CrmUserInfo.Current.Localization, Utils.Localization.IOT.Common.SearchButton.Code)
                    </button>
                </div>*@
            <div class="row" id="cal-heatmap-container">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-1 float-e-margins">
                            @for (int i = 0; i < Model.Years.Count; i++)
                            {
                                <button type="button" class="btn btn-outline-primary mb-1" onclick="calendar.before_loading(this,@Model.Years[i].year)"
                                        title="@Model.Years[i].count records" data-year="@Model.Years[i].year">
                                    @Model.Years[i].year
                                </button>
                            }
                        </div>
                        <div class="col-lg-11">
                            <div id="cal-heatmap"></div>
                        </div>
                        <div id="btn_move_calendar" class="btn-group" style="margin-left: 10%;padding-top: 10px;">
                            <button type="button" class="btn btn-sm btn-outline-primary" id="domainDynamicDimension-previous"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-sm btn-outline-primary" id="domainDynamicDimension-next"><i class="fa fa-chevron-right"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mb-4 col-7 pl-0" id="timeline_records" v-cloak>
    <ul class="list-group list-group-flush records-timeline" style=" margin-left: -5px;">
        @Html.Partial("_Records")
    </ul>
</div>

@*<nav>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)">«</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">»</a>
            </li>
        </ul>
    </nav>*@
