@model MyProfile.Entity.ModelView.TimeLineViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Календарь";
    var UserInfo = MyProfile.Identity.UserInfo.Current;
}

@section Styles {
    <link href="~/vendor/libs/d3js/cal-heatmap/css/cal-heatmap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/d3js/js/d3.v3.min.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/d3js/cal-heatmap/js/cal-heatmap.min.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/jquery-serialize-object/jquery.serialize-object.min.js" asp-append-version="true"></script>

    <script src="~/pages/calendar/timeline.js" asp-append-version="true"></script>
}

<h4 class="d-flex flex-wrap w-100 font-weight-bold">
    <span class="lnr lnr-calendar-full display-4 text-primary mr-2"></span>
    <span class="px-0 pb-2 pt-2">
        Календарь
    </span>
    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom"
       title="В календаре отображаются все совершенные вами финансовые операции за выбранный год.
При наведении на интересующую дату вы можете увидеть сумму трат за день или количество внесённых операций.">
        <i class="pe-7s-info d-block text-primary"></i>
    </a>
</h4>

<section id="timeline_records" v-cloak>


    <div class="card mb-4">
        <h6 class="card-header">Фильтр</h6>
        <div class="card-body">
            <form id="filter" class="margin-top">
                <div class="row mb-5">
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="nav-tabs-top mb-4">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#sale-stats" v-on:click="filter.isSection = true">Категории</a>
                                </li>
                                @*<li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#latest-sales" v-on:click="filter.isSection = false">Теги</a>
                                </li>*@
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show p-2" id="sale-stats">
                                    <vue-section-component data-class="cards-medium"
                                                           data-records-style="margin-left: 15px;"
                                                           data-search-id="searchSection"
                                                           v-bind:is-show-filter="false"
                                                           v-bind:data-is-selection="true"
                                                           v-bind:data-items="sections"
                                                           v-on:onchoose="onChooseSection"></vue-section-component>
                                    <span class="float-right">
                                        <span v-on:click="selectOnlyType(2)" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Выбрать только расходы </span>|
                                        <span v-on:click="selectOnlyType(1)" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать только доходы </span>|
                                        <span v-on:click="selectAll" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать все категории </span>|
                                        <span v-on:click="unselectAll" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Очистить форму </span>
                                    </span>
                                </div>
                                <div class="tab-pane fade" id="latest-sales">
                                    <input type="text" class="form-control" name="tags" placeholder="Начинайте вводить тег" />
                                    <section>
                                        <span v-bind:title="tag.title" tabindex="-1" class="tagify__tag cursor-pointer"
                                              v-for="tag in userTags"
                                              v-show="tag.isShow"
                                              v-on:click="selectedTag(tag)">
                                            <div>
                                                <span class="tagify__tag-text">{{ tag.title }}</span>
                                            </div>
                                        </span>
                                    </section>
                                    <span class="text-right">
                                        <span v-on:click="selectAllTags" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать все теги </span>|
                                        <span v-on:click="unselectAllTags" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Очистить поле </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4">
                        <br />
                        @if (UserInfo.IsAllowCollectiveBudget)
                        {
                            <label class="switcher switcher-info">
                                <input type="checkbox" class="switcher-input" name="isConsiderCollection" v-model="filter.isConsiderCollection">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes">
                                        <span class="ion ion-md-checkmark"></span>
                                    </span>
                                    <span class="switcher-no">
                                        <span class="ion ion-md-close"></span>
                                    </span>
                                </span>
                                <span class="switcher-label">Показывать записи все участников группы </span>
                            </label>
                            <hr />
                        }
                        <div class="switchers-stacked">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input" name="switch"
                                       v-model="filter.isAmount"
                                       v-bind:value="!filter.isAmount"
                                       v-on:input="filter.isCount = filter.isAmount"
                                       v-on:change="changeSwitch"
                                       checked>
                                <span class="switcher-indicator">
                                    <span class="switcher-yes">
                                        <span class="ion ion-md-checkmark"></span>
                                    </span>
                                    <span class="switcher-no">
                                        <span class="ion ion-md-close"></span>
                                    </span>
                                </span>
                                <span class="switcher-label">Отображать по сумме трат в день</span>
                            </label>
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input" name="switch"
                                       v-model="filter.isCount"
                                       v-bind:value="!filter.isCount"
                                       v-on:change="changeSwitch"
                                       v-on:input="filter.isAmount = filter.isCount">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes">
                                        <span class="ion ion-md-checkmark"></span>
                                    </span>
                                    <span class="switcher-no">
                                        <span class="ion ion-md-close"></span>
                                    </span>
                                </span>
                                <span class="switcher-label">Отображать по количеству внесенных записей </span>
                            </label>
                        </div>

                    </div>
                </div>
                @*<div>
                        <button type="button" class="btn btn-primary pull-right" onclick="timeline.search_click()">
                            @LocalizationBL.GetText(CrmUserInfo.Current.Localization, Utils.Localization.IOT.Common.SearchButton.Code)
                        </button>
                    </div>*@
                <div class="row" id="cal-heatmap-container">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-1 float-e-margins">
                                @for (int i = 0; i < Model.Years.Count; i++)
                                {
                                    <button type="button" class="btn btn-outline-primary mb-1 @( i == Model.Years.Count - 1 ? "active" : "" )"
                                            title="@Model.Years[i].count записей" 
                                            data-year="@Model.Years[i].year"
                                            onclick="calendar.before_loading(@Model.Years[i].year)">
                                        @Model.Years[i].year
                                    </button>
                                }
                            </div>
                            <div class="col-lg-11">
                                <div id="cal-heatmap"></div>
                            </div>
                            <div id="btn_move_calendar" class="btn-group" style="margin-left: 10%;padding-top: 10px;">
                                <button type="button" class="btn btn-sm btn-outline-primary" id="domainDynamicDimension-previous"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-sm btn-outline-primary" id="domainDynamicDimension-next"><i class="fa fa-chevron-right"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-4 col-md-7 pl-0">
        <ul class="list-group list-group-flush records-timeline" style=" margin-left: -5px;">
            @await Html.PartialAsync("_Records")
        </ul>
    </div>
</section>