@model MyProfile.Entity.ModelView.BudgetView.BudgetControllerModelView
@{
    ViewData["Title"] = "Финансы на год";
}

@section Styles {
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/datatables/datatables.css">
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />

}

@section Scripts {
    <script src="~/vendor/libs/chartjs/chartjs.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/datatables/datatables.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/vendor/libs/flatpickr/plugins/monthSelect.js" asp-append-version="true"></script>

        <script src="~/pages/budget/_budget-year.js" asp-append-version="true"></script>
        <script src="~/pages/budget/budget.js" asp-append-version="true"></script>
        <script src="~/pages/history/history-list.js" asp-append-version="true"></script>
        <script src="~/pages/goal/goal-add-money.js" asp-append-version="true"></script>
        <script src="~/pages/budget/account-modal.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/libs/flatpickr/plugins/monthSelect.min.js" asp-append-version="true"></script>

        <script src="~/pages/budget/_budget-year.min.js" asp-append-version="true"></script>
        <script src="~/pages/budget/budget.min.js" asp-append-version="true"></script>
        <script src="~/pages/history/history-list.min.js" asp-append-version="true"></script>
        <script src="~/pages/goal/goal-add-money.min.js" asp-append-version="true"></script>
        <script src="~/pages/budget/account-modal.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="budget-vue" v-cloak style=" margin-top: -15px;">
    <input type="hidden" id="templateID_hidden" value="@Model.SelectedTemplateID" />
    <input type="hidden" id="budgetMonth_hidden" value="@Model.SelectedYear" />

    <!-- Head block -->
    <div class="row mb-2">
        <div class="col-md-4 px-1">
            <div class="input-group budget-date">
                <span class="input-group-prepend" style="width: 50px;height: 26px;">
                    <button v-on:click="changeView(-1)" class="btn btn-sm btn-default modal-record-date-button" type="button" title="Минус 1 год"
                            v-bind:disabled="isLoading">
                        <i class="fa fa-angle-left font-size-large" aria-hidden="true"></i>
                    </button>
                </span>
                <select id="budget-year" class="form-control form-control-sm"
                        v-model="budgetYear"
                        v-on:change="refresh(undefined)">
                    @foreach (var year in Model.Years)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                <span class="input-group-append" style="width: 50px;height: 26px;">
                    <button v-on:click="changeView(1)" class="btn btn-sm btn-default modal-record-date-button" type="button" title="Плюс 1 год"
                            v-bind:disabled="isLoading">
                        <i class="fa fa-angle-right font-size-large" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="btn-group">
                <button id="add-main-account" type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
                    <i class="ion ion-md-add navbar-icon pr-2"></i>
                    Добавить группу наличных/организацию
                </button>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="javascript:void(0)" onclick="MainAccountVue.edit(null, true)">
                        <span class="text-primary text-xlarge pr-2 pe-7s-cash text-center"></span>
                        Добавить группу наличных
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="MainAccountVue.edit(null, false)">
                        <span class="text-primary text-xlarge pr-2 pe-7s-culture text-center"></span>
                        Добавить организацию
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row summary-view">
        @await Html.PartialAsync("_SummaryView", MyProfile.Entity.Model.PeriodTypesEnum.Month)
    </div>
    <div class="row accounts-view" id="accounts-view">
        @await Html.PartialAsync("_AccountsView", MyProfile.Entity.Model.PeriodTypesEnum.Month)
    </div>
    @*<div class="row total-view">
            @await Html.PartialAsync("_TotalsBySectionView", MyProfile.Entity.Model.PeriodTypesEnum.Year)
        </div>*@
    <div class="row">
        @await Html.PartialAsync("_LimitsView")
    </div>
    <div class="row" id="goal-contrainer">
        @await Html.PartialAsync("_GoalsView")
    </div>
    <div class="row" id="todoList-view">
        @await Html.PartialAsync("_ToDoListView")
    </div>
    <div class="row px-1">
        @await Html.PartialAsync("_BigChartView", "/Budget/Year")
    </div>
    <div class="card table-container">
        <div class="card-body" style="margin-bottom: 0px">
            <div class="card-title with-elements" style="margin-bottom: 0px">
                <select class="form-control form-control-sm" data-style="btn-default" style="width: 300px"
                        v-model="templateID"
                        v-on:change="refresh('onlyTable')"
                        v-bind:disabled="isLoading">
                    @foreach (var template in Model.Templates)
                    {
                        <option value="@template.ID">@template.Name</option>

                    }
                </select>
                <a class="ml-2 btn btn-outline-primary btn-xs icon-btn md-btn-flat" title="Редактировать шаблон"
                   v-bind:href="'/Template/Edit/'+template.id"
                   v-show="template && template.id && isLoading == false">
                    <i class="ion ion-md-create"></i>
                </a>
                <div class="card-title-elements">
                </div>
                @*<div class="card-title-elements ml-md-auto" v-show="template && template.id">
                        <a data-toggle="collapse" href="#collapseFilter" class="d-block ml-3"><i class="collapse-icon"></i></a>
                    </div>*@
                <div class="text-right"
                     v-show="template && template.id">
                    <button type="button" class="btn icon-btn borderless btn-outline-primary text-big"
                            v-on:click="showAllHistory"
                            title="Посмотреть историю за год" data-toggle="tooltip" data-placement="bottom">
                        <i class="fas fa-history"></i>
                    </button>
                    @*<button type="button" class="btn icon-btn borderless btn-outline-primary text-big"
                                onclick="ReminderVue.showRemindersByPeriod(@Model.SelectedDateTime.Month, @Model.SelectedDateTime.Year)"
                                title="Посмотреть напоминание за месяц" data-toggle="tooltip" data-placement="bottom">
                            <i class="ion ion-ios-alarm text-big"></i>
                        </button>*@
                    <button type="button" class="btn icon-btn borderless btn-outline-primary mr-4 text-big"
                            title="Экспорт таблицы в Excel"
                            data-toggle="tooltip" data-placement="bottom"
                            v-on:click="toExcel"
                            v-bind:disabled="isGenerateExcel">
                        <i class="far fa-file-excel"></i>
                    </button>
                    <button type="button" class="btn icon-btn borderless text-big"
                            v-bind:class="pageViewSettings.isTableViewCompact ? 'btn-outline-default': 'btn-outline-primary'"
                            v-on:click="pageViewSettings.isTableViewCompact = false; savePageSettings();">
                        <i class="ion ion-md-menu" title="Обычный вид таблицы"></i>
                    </button>
                    <button type="button" class="btn icon-btn borderless text-big mr-2"
                            v-bind:class="pageViewSettings.isTableViewCompact ? 'btn-outline-primary': 'btn-outline-default'"
                            v-on:click="pageViewSettings.isTableViewCompact = true; savePageSettings();">
                        <i class="ion ion-md-reorder" title="Компактный вид таблицы"></i>
                    </button>
                </div>
            </div>
            @*<div class="collapse table-responsive bg-light " id="collapseFilter" v-show="template && template.id">

                </div>*@
        </div>
        <div class="callout callout-warning mx-4" v-show="!(template && template.id)">
            <p><b>Нет шаблона для отображения. Пожалуйста, <a href="/Template/Edit?periodTypeId=3">создайте шаблон</a></b></p>
        </div>
        <div class="card-datatable table-responsive" style="padding: 0px 12px 8px 11px;">
            @await Html.PartialAsync("_TableView")
        </div>
        <a href="https://budgetto.org" class="text-right mr-2">Разработано budgetto.org</a>
    </div>

</div>

<div id="history-vue">
    @await Html.PartialAsync("_HistoryModal")
</div>

@await Html.PartialAsync("../Goal/_GoalAddMoney.cshtml")
@await Html.PartialAsync("../Account/_AccountModal.cshtml")
@await Html.PartialAsync("../Account/_MainAccountModal.cshtml")
@await Html.PartialAsync("../Account/_AccountTransferModal.cshtml")

@await Html.PartialAsync(@"../Settings/Settings.cshtml", "Budget/Year")

