@{
    var UserInfo = MyProfile.Identity.UserInfo.Current;
}

@if (UserInfo.IsAllowCollectiveBudget)
{
    <label class="m-0 px-4 pb-3 d-flex media align-items-middle">
        <div class="media-body">
            <span class="theme-settings-t-rtl_switcher">Учитывать траты всех</span>
        </div>
        <div class="switcher switcher-sm d-block m-0">
            <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.BudgetPages_WithCollective" name="user_settings"
                   data-prop="BudgetPages_WithCollective" v-on:change="change(true)">
            <span class="switcher-indicator">
                <span class="switcher-yes"></span>
                <span class="switcher-no"></span>
            </span>
        </div>
    </label>
    <hr class="m-0 border-light">
}
<h5 class="m-0 px-4 py-3 line-height-1 text-light d-block"> <span class="theme-settings-t-layout_header">Общая сводка + Итоги месяца</span> </h5>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Общая сводка</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_Summary" name="user_settings" data-prop="Month_Summary"
               v-on:change="toggleSummary('Month_Summary', 'Dashboard_Month_IsShow_Summary'); change(false, ['BudgetVue.loadSummaries']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать виджет доходов</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_EarningWidget" name="user_settings" data-prop="Month_EarningWidget"
               v-on:change="toggleBudgetTotal_Month(@((int)MyProfile.Entity.Model.SectionTypeEnum.Earnings),'Month_EarningWidget'); change(false, ['BudgetVue.loadTotalCharts']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать виджет расходов</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_SpendingWidget" name="user_settings" data-prop="Month_SpendingWidget"
               v-on:change="toggleBudgetTotal_Month(@((int)MyProfile.Entity.Model.SectionTypeEnum.Spendings), 'Month_SpendingWidget'); change(false, ['BudgetVue.loadTotalCharts']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать виджет инвестиций</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_InvestingWidget" name="user_settings" data-prop="Month_InvestingWidget"
               v-on:change="toggleBudgetTotal_Month(3, 'Month_InvestingWidget'); change(false, ['BudgetVue.loadTotalCharts']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>

<hr class="m-0 border-light">
<h5 class="m-0 px-4 py-3 line-height-1 text-light d-block"> <span class="theme-settings-t-layout_header">Все счета и огранизации</span> </h5>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать виджеты считов и наличных</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_Accounts" name="user_settings" data-prop="Month_Accounts"
               v-on:change="toggleElements('accounts', 'Month_Accounts', 'Dashboard_Month_IsShow_Accounts'); change(false, ['BudgetVue.loadAccounts'])">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>

<hr class="m-0 border-light">
<h5 class="m-0 px-4 py-3 line-height-1 text-light d-block"> <span class="theme-settings-t-layout_header">Лимиты</span> </h5>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать виджеты лимитов</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_LimitWidgets" name="user_settings" data-prop="Month_LimitWidgets"
               v-on:change="toggleElements('limitsChartsData', 'Month_LimitWidgets', 'Dashboard_Month_IsShow_LimitCharts'); change(false, ['BudgetVue.loadLimitCharts']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>
<hr class="m-0 border-light">
<h5 class="m-0 px-4 py-3 line-height-1 text-light d-block"> <span class="theme-settings-t-layout_header">Цели</span> </h5>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать виджеты целей</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_GoalWidgets" name="user_settings" data-prop="Month_GoalWidgets"
               v-on:change="toggleElements('goalChartsData','Month_GoalWidgets', 'Dashboard_Month_IsShow_GoalCharts'); change(false, ['BudgetVue.loadGoalCharts']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>
<h5 class="m-0 px-4 py-3 line-height-1 text-light d-block"> <span class="theme-settings-t-layout_header">Графики</span> </h5>
<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
    <div class="media-body">
        <span class="theme-settings-t-rtl_switcher">Показывать графики</span>
    </div>
    <div class="switcher switcher-sm d-block m-0">
        <input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.Month_BigCharts" name="user_settings" data-prop="Month_BigCharts"
               v-on:change="toggleElements('bigChartsData', 'Month_BigCharts', 'Dashboard_Month_IsShow_BigCharts'); change(false, ['BudgetVue.loadBigCharts']);">
        <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
        </span>
    </div>
</label>
